In [9]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [10]:
# csv to dataframe
df_buses_1=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_1.csv")
df_buses_2=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_2.csv")
df_buses_3=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_3.csv")
df_buses_4=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_4.csv")
df_buses_5=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_5.csv")
df_buses_6=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_6.csv")
df_buses_7=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_7.csv")
df_buses_8=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_8.csv")
df_buses_9=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_9.csv")
df_buses_10=pd.read_csv(r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,FRESHBUS,Electric A/C Seater (2+2),04:15,10:30,06h 15m,575,18 Seats available,4.7\n426,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
1,FRESHBUS,Electric A/C Seater (2+2),16:00,23:10,07h 10m,550,34 Seats available,4.7\n395,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
2,FRESHBUS,Electric A/C Seater (2+2),23:10,05:35,06h 25m,650,24 Seats available,4.6\n498,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
3,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:50,05:35,05h 45m,INR 704,36 Seats available,4.5\n948,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
4,FRESHBUS,Electric A/C Seater (2+2),13:10,19:25,06h 15m,500,40 Seats available,4.6\n462,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
...,...,...,...,...,...,...,...,...,...,...
1530,RATNAGIRI TRANSPORT,Bharat Benz A/C Seater /Sleeper (2+1),21:31,04:30,06h 59m,INR 600,18 Seats available,4.5\n119,https://www.redbus.in/bus-tickets/guwahati-to-...,Guwahati to Golaghat
1531,Assam State Transport Corporation (ASTC) - 152649,Bharat Benz A/C Seater (2+2),06:45,12:00,05h 15m,INR 339,5 Seats available,3.5\n15,https://www.redbus.in/bus-tickets/jorhat-to-go...,Jorhat to Gogamukh
1532,Assam State Transport Corporation (ASTC) - 175510,NON A/C Seater Push Back (2+1),08:45,15:00,06h 15m,INR 390,25 Seats available,3.6,https://www.redbus.in/bus-tickets/dibrugarh-to...,Dibrugarh to Biswanath Charali
1533,Air Bus Travels,NON AC Seater / Sleeper 2+1,19:40,05:00,09h 20m,INR 600,42 Seats available,3.1\n45,https://www.redbus.in/bus-tickets/dibrugarh-to...,Dibrugarh to Biswanath Charali
1534,Assam State Transport Corporation (ASTC) - 152649,Bharat Benz A/C Seater (2+2),05:45,13:00,07h 15m,INR 503,5 Seats available,3.8\n21,https://www.redbus.in/bus-tickets/golaghat-to-...,Golaghat to North Lakhimpur

Data Cleaning

In [11]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1535 non-null   object
 1   Bus_type         1535 non-null   object
 2   Start_time       1535 non-null   object
 3   End_time         1535 non-null   object
 4   Total_duration   1535 non-null   object
 5   Price            1535 non-null   object
 6   Seats_Available  1535 non-null   object
 7   Ratings          1535 non-null   object
 8   Route_link       1535 non-null   object
 9   Route_name       1535 non-null   object
dtypes: object(10)
memory usage: 120.1+ KB

In [12]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       575.0
1       550.0
2       650.0
3       704.0
4       500.0
        ...
1530    600.0
1531    339.0
1532    390.0
1533    600.0
1534    503.0
Name: Price, Length: 1535, dtype: float64

In [13]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\91843\AppData\Local\Temp\ipykernel_20012\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [14]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1535 non-null   object
 1   Bus_type         1535 non-null   object
 2   Start_time       1535 non-null   object
 3   End_time         1535 non-null   object
 4   Total_duration   1535 non-null   object
 5   Price            1535 non-null   float64
 6   Seats_Available  1535 non-null   object
 7   Ratings          1535 non-null   float64
 8   Route_link       1535 non-null   object
 9   Route_name       1535 non-null   object
dtypes: float64(2), object(8)
memory usage: 120.1+ KB

In [15]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [16]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [17]:
# change dataframe to csv
path=r"F:\Education and Job\Guvi\Redbus_M\Busdetails_2\Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

Create a sql database

In [27]:
#sql connection
conn=mysql.connector.connect(host="127.0.0.1", user="root", password="samguna10",database="red_bus_details")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS red_bus_details")

In [28]:
# Table Creation
my_cursor.execute('''
    CREATE TABLE IF NOT EXISTS bus_details(
        ID SERIAL PRIMARY KEY,
        Bus_name VARCHAR(255) NOT NULL,
        Bus_type VARCHAR(255) NOT NULL,
        Start_time VARCHAR(255) NOT NULL,
        End_time VARCHAR(255) NOT NULL,
        Total_duration VARCHAR(255) NOT NULL,
        Price FLOAT NULL,
        Seats_Available VARCHAR(255) NOT NULL,
        Ratings FLOAT NULL,
        Route_link VARCHAR(255) NULL,
        Route_name VARCHAR(255) NULL
    )
''')
print("Table Created successfully")

Table Created successfully

In [29]:
#Postgres query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully